.box {
            width: 150px;
            height: 150px;
            color: white;
            text-align: center;
            line-height: 150px;
            font-size: 18px;
            font-weight: bold;
        }

        .box1 {
            background-color: crimson;
            position: absolute;
            top: 50px;
            left: 50px;
        }

        .box2 {
            background-color: darkblue;
            position: absolute;
            top: 100px;   /* overlaps partly with Box 1 */
            left: 100px;
            
        }

        .box3 {
            background-color: darkgreen;
            position: absolute;
            top: 150px;   /* overlaps even more */
            left: 150px;
        }