body {
  background-color: #f5f5f5;
  margin: 20px;
}

h1 {
  color:whitesmoke;
  padding-left: 30px;
  background-color: rgb(199, 12, 12);
  padding: 10px 10px;
}

p {
  font-size: 16px;
}

table {
  width: 70%;
  border-collapse: collapse;
}

th {
  background-color: rgb(199, 12, 12);
  color: white;
}
header {
    background-color: rgb(199, 12, 12);
    color: white;
    padding: 30px;
    text-align: center;

}
nav {
    background-color:#333;
}
nav a {
    color: white;
    padding: 14px 20px;
    display: inline-block;
    text-decoration: none;
}
marquee{
    color:aliceblue;
    font-size: 18px;

}
section {
    padding-bottom: 30px;
}
footer {
    background-color:rgb(199, 12, 12);
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}